@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Student Portal</h1>
    <p>Glad to have you here – let’s get started!</a>.</p>
    <img src="~/Images/Picture.webp" alt="Imagen de Estudiantes" />
</div>
